GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret
JWT_SECRET=your_jwt_secret
PRODUCTION=your_production_flag
PSQL_DATABASE=your_postgres_database
PSQL_PASSWORD=your_postgres_password
VITE_API_URL=your_backend_port_url